.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 2px 2px 3px #164fe0;
    -moz-box-shadow: 2px 2px 3px #164fe0;
    box-shadow: 2px 2px 3px #164fe0;
    font-family: Georgia;
    color: #3fba50;
    font-size: 18px;
    background: #ffffff;
    padding: 6px 20px 6px 20px;
    border: solid #0d618f 1px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1b126b;
    color: #3fba50;
    text-decoration: none;
  }