<!DOCTYPE html>
<html>
    <head>
        <meta charset=""utf-8>
        <title>Upload page</title>
        <style>
            body {background-color: #c1efef;}
            hr {border: none; background-color: blue;}
        </style>

    </head>
    
    <body>
        <div style="width: 500px; margin: auto;">
			<div class="container">
                {% for x in video %}
                <h3 class="text-center mt-2 mb-2">{{x.caption}}</h3>
                <video class="embed-responsive embed-responsive-16by9" controls="controls" >
                <source src="{{x.video.url}}" type="video/mp4" />
                </video>
                {% endfor %}
                </div>
			
		</div>	
    </body>
</html>
